@import 'tailwindcss';

@theme {
  /* Semantic Colors */
  --color-background: var(--background, var(--color-white));
  --color-foreground: var(--foreground, var(--color-black));

  --color-primary: var(--primary, var(--color-neutral-600));
  --color-primary-dark: var(--primary-dark, var(--color-neutral-700));
  --color-secondary: var(--secondary, var(--color-neutral-200));
  --color-secondary-dark: var(--secondary-dark, var(--color-neutral-300));

  --color-status-success: var(--success, var(--color-lime-500));
  --color-status-error: var(--error, var(--color-red-500));
  --color-status-info: var(--info, var(--color-sky-500));
  --color-status-disabled: var(--disabled, var(--color-neutral-500));

  --color-border-default: var(--border-default, var(--color-neutral-300));

  --color-overlay-bg: rgba(0, 0, 0, 0.05);

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
