@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

:root {
  font-size: 14px;
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: var(--font-weight-normal);

  /* Colors */
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);

  --primary: var(--color-neutral-600);
  --primary-dark: var(--color-neutral-700);
  --secondary: var(--color-neutral-200);
  --secondary-dark: var(--color-neutral-300);

  --success: var(--color-lime-500);
  --error: var(--color-red-500);
  --info: var(--color-sky-500);
  --disabled: var(--color-neutral-500);

  --border-default: var(--color-neutral-300);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);

  --success: var(--color-lime-400);
  --error: var(--color-red-400);
  --info: var(--color-sky-400);
  --disabled: var(--color-neutral-400);
}
